@media(max-width: 767px) {
	
	.bannar_overlay h1{
		font-size:27px !important;
	}
	.bannar_overlay p{
		font-size:11px !important;
	}
	.bannar_overlay{
		padding-top:60px !important;
		padding-bottom:55px !important;
	}
	h2{
		font-size:24px !important;
	}
	hr{
		height: 2px !important;
		width: 50px !important;
	}
	.contact_overlay{
		padding-top:25px !important;
		padding-bottom:25px !important;
	}
}


